---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout>
  <main class="container">
    <h1>Charlie Enright</h1>
    <h2>Web Developer</h2>
  </main>
</BaseLayout>
