---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import RecentProjects from "../components/RecentProjects.astro";
---

<BaseLayout>
  <Hero />
  <About />

  <section id="projects">
    <RecentProjects />
  </section>
</BaseLayout>
