---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "Projects";
---

<BaseLayout>
  <main class="container">
    <h1>{pageTitle}</h1>

    <p>This is where I will post my projects</p>

    <ul>
      <li><a href="/projects/project-1/">The Gourmet Cake Club</a></li>
      <li><a href="/projects/project-2/">Gotham's Dark Decisions</a></li>
      <li>
        <a href="/projects/project-3/">LidarFind: The Welsh LiDAR Portal</a>
      </li>
    </ul>
  </main>
</BaseLayout>
