---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectList from "../components/ProjectList.astro";
import "../styles/global.css";

const pageTitle = "Projects";

const allProjects = await getCollection("project");
---

<BaseLayout>
  <main class="container">
    <h1>{pageTitle}</h1>

    <ul>
      {
        allProjects.map((project: any) => (
          <ProjectList
            url={`/projects/${project.id}/`}
            title={project.data.title}
          />
        ))
      }
      <!-- this will loop through all the posts and create a list item for each one, with a link to the post and the title of the post -->
    </ul>

    <p>This is where I will post my projects</p>
  </main>
</BaseLayout>
