---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <!-- Logo -->
  <div class="nav-logo">charlie<span>.</span>dev</div>

  <Navigation />

  <div><ThemeIcon /></div>
</header>
