---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

import ThemeIcon from "./ThemeIcon.astro";
---

<nav>
  <!-- Logo -->
  <div class="nav-logo">charlie<span>.</span>dev</div>

  <!-- Nav links -->
  <ul id="main-menu" class="nav-links">
    <li><a class={currentPath === "" ? "active" : ""} href="/">Home</a></li>
    <li>
      <a class={currentPath === "about/" ? "active" : ""} href="/about/"
        >About</a
      >
    </li>
    <li>
      <a class={currentPath === "projects/" ? "active" : ""} href="/projects/"
        >Projects</a
      >
    </li>
    <li>
      <a class={currentPath === "tags/" ? "active" : ""} href="/tags/">Tags</a>
    </li>

    <li><ThemeIcon /></li>
  </ul>
</nav>
