---
const pathname = new URL(Astro.request.url).pathname;
const isHomePage = pathname === "/";
---

<nav>
  <!-- Burger Menu -->
  <button aria-expanded="false" aria-controls="main-menu" class="menu">
    Menu
  </button>

  <!-- Nav links -->
  <ul id="main-menu" class="nav-links">
    <li><a href="/">Home</a></li>
    <li>
      <a href={isHomePage ? "#about" : "/#about"}>About</a>
    </li>
    <li>
      <a href={isHomePage ? "#projects" : "/#projects"}>Projects</a>
    </li>
    <li>
      <a href="/tags/">Tags</a>
    </li>
  </ul>
</nav>
